<h2 class="d-flex justify-content-between px-4 py-4 mb-4 bg-white">
    <span >Total expended: </span>
    <span class="fw-bold text-third">$<%= @total %></span>
</h2>

<div class="container" id="groups">
  <% @groups.includes(:deals).each do |group| %>
    <%= link_to group do %>
    <%= render group %>
    <% end %>
  <% end %>
</div>

<div class="category_btn_cnt">
<%= link_to 'New Category', new_group_path, class:"category_btn" %>
</div>

